body{
    background-color: #f3f3f3
;
}
/*-- Navigation bar --*/

.nav ul  { 
    list-style-type: none;
    float: right;
}
.nav ul li {
    float: left;
    margin: 20px;
 }   
 nav {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px; cursor: pointer; margin-right: 30px;

 }

 /*-- end div --*/

 .divend{
    clear: both;
 }

hr{
    margin-left: 20px;
    margin-right: 20px;
}
.Resume{
    margin-left: 250px;
    font-size: 50px;
    margin-bottom: 50px;
    font-size: 60px;
}

.Details{
    margin-left: 250px;
    margin-bottom: 250px;
    font-size: 40px;
       
}

.Personal{
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 40px;
    margin-left: 150px;
}

section{ 
    width: 50%;
    float: left;
}


.education{
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 150px;
}

/*footer section*/
 footer{ cursor: pointer;
            
 }


 hr{
    margin-left: 50px;
    margin-right: 50px;
    }

.phone { 

margin-left: 100px;
margin-bottom: 50px;
line-height: 0%; color:       
}
h5{ font-size: 20px;
text-decoration: none;
}

.email{
 line-height: 0%; 

}

footer section{ 
 width: 25%;float: left;
}
.social ul li{  
list-style-type: none;
margin-top: 0%;



}

.copy {
margin-top: 50px;
}

#link:hover{
text-decoration: underline;
}